﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #container{float:right;}

    .tableData {
        border-left: solid 1px #D8C3C3;
        border-top: solid 1px #D8C3C3;
        margin: auto;
        width: 100%; 
    }

        .tableData tr {
        }

        .tableData td, .tableData th {
            border-right: solid 1px #D8C3C3;
            border-bottom: solid 1px #D8C3C3;
            text-align: center;
            padding: 5px;
        }

        .tableData td {
        }

        .tableData th {
            background-color: #FAFAFA;
            padding: 7px 5px;
            border-bottom-color: #9C9C9C;
        }

    .odd {
        background-color: #f3f3f3;
    }

    .even {
        background-color: #ffffff;
    }

    .md-social-btn .mbsc-ic {
        float: left;
    }
</style>

<br /><br />

<h3><p class="text-info text-center">Reclamations list</p></h3>


<div ng-controller="ReclamationsController" class="text-center">

    <br /><br />
    @*Menu options*@
    <div id="container" class="container">
        <div class="row">
            <button ng-click="toggleModal('Success')" class="btn btn-primary a-btn-slide-text">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span><strong>Add</strong></span>
            </button>
            <a href="#" class="btn btn-primary a-btn-slide-text">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <span><strong>View</strong></span>
            </a>
            <button class="btn btn-primary a-btn-slide-text" onclick="history.go(0);">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                <span>
                    <strong>Refresh</strong>
                </span>
            </button>
            <button class="btn btn-primary a-btn-slide-text" ng-click="exportData()">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                <span>
                    <strong>Export to Excel</strong>
                </span>
            </button>
        </div>
    </div>
    <br /><br /><br /><br />
    @*Reclamation table*@
    <div id="exportable">
        <table class="tableData" width="80%" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Reclamation ID</th>
                    <th>Reclamation Date</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>User Id</th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in Reclamations" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{a.RecId}}</td>
                    <td>{{a.RecDate.slice(6,-2) | date:'dd-MM-yyyy'}}</td>
                    <td>{{a.RecTitle}}</td>
                    <td>{{a.RecDescription}}</td>
                    <td>{{a.RecStatus}}</td>
                    <td>{{a.UserId}}</td>
                    <td>
                        <a href="#" class="btn btn-primary a-btn-slide-text">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span><strong>Edit</strong></span>
                        </a>
                        <a href="#" class="btn btn-danger a-btn-slide-text">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span><strong>Delete</strong></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    @*Show add modal*@
    <modal visible="showModal">
        <div class="container">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="recTitle" class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="Please give a title to your reclamation" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="recDescription" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="5" id="recDescription" autofocus></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Status</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="openRadio" value="Open">Open
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="pendingRadio" value="Pending">Pending
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sel1" class="col-sm-3 control-label">Cause Reclamation</label>
                    <select class="form-control col-sm-9" id="sel1">
                        <option>Cause 1</option>
                        <option>Cause 2</option>
                        <option>Cause 3</option>
                        <option>Cause 4</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </form> 
        </div> 
    </modal>
</div>



@section scripts{
    
<script src="~/Scripts/app/controllers/reclamations-controller.js"></script>

<script>
    function refreshPage() {
        window.location.reload();
    }
</script>
}
