﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_BisLayout.cshtml";
}

<br />
<br />
<h4><p class="text-info text-center">Please use your credentials to access<br />to your application</p></h4>

<style type="text/css">
    .login-form {
        width: 340px;
        margin: 50px auto;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>

<div ng-controller="LoginController">
    <div class="login-form">
        <form novalidate name="f1" ng-submit="login()">
            <div style="color:rgb(142,2,2)">{{Message}}</div>
            <div ng-show="!IsLogedIn">
                <h2 class="text-center">Log in</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" ng-model="LoginData.Username" name="cUsername" ng-class="Submitted?'ng-dirty':''" required autofocus>
                    <span class="error" ng-show="(f1.cUsername.$dirty || Submitted) && f1.cUsername.$error.required">Username required</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="LoginData.Password" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus>
                    <span class="error" ng-show="(f1.cPassword.$dirty || Submitted) && f1.cPassword.$error.required">Password required</span>
                </div>
                <div ng-controller="AccessToAppController" class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" ng-click="RedirectToURL()">Log in</button>
                </div>
            </div>
            
        </form>
    </div>
    

</div>



@section scripts{
    <script src="~/Scripts/app/controllers/login-controller.js"></script>
    <script src="~/Scripts/app/controllers/reclamations-controller.js"></script>
    <script src="~/Scripts/app/controllers/access-to-app-controller.js"></script>
    }



