﻿@{
    ViewBag.Title = "UserReclamations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tabContainer {
        max-height: 400px;
        overflow: auto;
        width: 80%;
    }

    .tableData {
        border-left: solid 1px #D8C3C3;
        border-top: solid 1px #D8C3C3;
        width: 100%;
    }

        .tableData tr {
        }

        .tableData td, .tableData th {
            border-right: solid 1px #D8C3C3;
            border-bottom: solid 1px #D8C3C3;
            text-align: left;
            padding: 5px;
        }

        .tableData td {
        }

        .tableData th {
            background-color: #FAFAFA;
            padding: 7px 5px;
            border-bottom-color: #9C9C9C;
        }

    .odd {
        background-color: #f3f3f3;
    }

    .even {
        background-color: #ffffff;
    }

    tr.sub {
        display: none;
    }

    f .CX {
        width: 35px;
    }

    .CX span {
        font-family: fantasy;
        font-size: 15px;
        display: block;
        width: 100%;
        cursor: pointer;
        text-align: center;
    }

    .md-social-btn .mbsc-ic {
    float: left;
    }
</style>

<h2>List of the reclamations</h2>
<div ng-controller="DisplayReclamationsController">
    <table class="tableData" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th></th>
                <th>User Name</th>
                <th>Date of creation</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody ng-repeat="R in Reclamations">
            <tr ng-class-even="'even'" ng-class-odd="'odd'">
                <td class="CX"><span>+</span></td>
                <td>{{R.Users.Username}}</td>
                <td>{{R.Users.DateCreation}}</td>
                <td>{{R.Users.RoleId}}</td>
            </tr>
            <tr class="sub">
                <td></td>
                <td colspan="5">
                    <table class="tableData" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th>Reclamation ID</th>
                            <th>Reclamation Date</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                        <tr ng-repeat="a in R.Reclamations" ng-class-even="'even'" ng-class-odd="'odd'">
                            <td>{{a.RecId}}</td>
                            <td>{{a.RecDate.slice(6,-2) | date:'dd-MM-yyyy'}}</td>
                            <td>{{a.RecTitle}}</td>
                            <td>{{a.RecDescription}}</td>
                            <td>{{a.Status}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts{

    <script src="~/Scripts/app/controllers/display-reclamations-controller.js"></script>
    <script>
        $(function () {
            $('body').on('click', '.CX span', function () {

                if ($(this).text() == '+') {
                    $(this).text('-');
                }
                else {
                    $(this).text('+');
                }
                $(this).closest('tr')
                .next('tr')
                .toggle();

            });
        });
    </script>
}