﻿@using Microsoft.AspNet.Identity
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Logout", "Login", "Home", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
    </ul>

